/*COMMON CSS*/
.nav_bar, button{
    background-color: rgb(0, 255, 123);
    color: blue;
    font-family: 'Source Code Pro';
    font-size: 110%;
    text-align: center;
    padding: 1%;
}
header{
    padding: 4%;
    text-align: center;
}
body{
    font-size: 180%;
}
/*HOME PAGE*/
.home_body{
    background-color: red;
    margin: 0;
}
.home_header{
    background-color: aqua;
    font-family: 'Source Code Pro';
    font-size: 200%;
    color: blue;
}
.content1{
    font-family: 'Titillium Web';
    padding: 5%;
    text-align: right;
    color: beige;
    color: beige;
    line-height: 180%;
}
#table{
    border: 10px dotted;
    font-family: 'Titillium Web';
    color: beige;
    padding: 5%;
    float: right;
    margin: 5%;
}
#myimg{
    width: 20%;
    float: left;
    border-radius: 3%;
    margin: 2%;
}
#myimg:hover{
    width: 10%;
    float: right;
    border-radius: 30%;
    margin: 4%;
    transform:scale(1.8);
}
/*Hobbies Page*/
.hobbies_body{
    background-color: rgb(255, 132, 0);
    margin: 0;
}
.hobbies_header{
    font-family: Honk;
    font-size: 400%;
    background-color: purple;
}
#hobbies_content{
    color: rgb(208, 255, 0);
    font-family: 'Poor Story';
    text-align: center;
    padding-top: 5%;
}
#hobbis_content > li {
    padding: 10%;
}
#guitarimg{
    width: 20%;
    float: right;
    border-radius: 3%;
    margin: 2%;
}
#guitarimg:hover{
    width: 25%;
    float: right;
    border-radius: 13%;
    margin: 4%;
}
#booksimg{
    width: 20%;
    float: left;
    border-radius: 3%;
    margin: 2%;
}
#booksimg:hover{
    width: 40%;
    float: left;
    border-radius: 13%;
    margin: 4%;
}
#whatsappimg{
    width: 15%;
    float: left;
    border-radius: 3%;
    margin: 2%;
}
#whatsappimg:hover{
    width: 20%;
    float: left;
    border-radius: 3%;
    margin: 2%;
}
#squash{
    width: 15%;
    float: right;
    border-radius: 3%;
    margin: 2%;
}
#squash:hover{
    width: 20%;
    float: right;
    border-radius: 3%;
    margin: 2%;
}
/*Achievements*/
.achievements_body{
    background-color: rgb(255, 132, 0);
    margin: 0;
}
.achievements_header{
    font-family: Honk;
    font-size: 400%;
    background-color: purple;
}
#achievements_content{
    color: rgb(208, 255, 0);
    font-family: 'Poor Story';
    text-align: center;
    padding-top: 5%;
}